{% extends 'base.html.twig' %}

{% block title %} Nargui Five 93  - Mes Adresses {% endblock %}

{% block body %}

<div class="mon-compte">
    <div class="container">
        <a href="{{ path('adresse_compte_add') }}" class="btn btn-primary">Ajouter une adresse</a>

        <h1> Mes adresses </h1>
        <p>
            Choisissez vos adresses de facturation et de livraison. Ces dernières seront présélectionnées lors de vos commandes. 
            Vous pouvez également ajouter d'autres adresses, 
            ce qui est particulièrement intéressant pour envoyer des cadeaux ou recevoir votre commande au bureau.
        </p>
        <br>
        
        <div class="row">
            <div class="col-md-4 compte-lien">
                {{ include('partials/sidebarAccount.html.twig') }}
            </div>
        
            <div class="col-md-8">
                {% if adresses|length > 0 %}
                    <p>
                        <span class="adresse"> Vos adresses sont listées ci-dessous. <br> </span> 

                        Pensez à les tenir à jour si ces dernières venaient à changer.
                    </p>
                    <div class="row">
                        {% for adresse in adresses %}
                            
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ adresse.nom }}</h5>
                                        <p class="card-text"> 
                                            {{ adresse.adresse }}, <br>
                                            {{ adresse.postal }} - {{ adresse.ville }} - {{ adresse.pays }}
                                        </p>
                                        <a class='btn btn-info' href="{{ path("adresse_compte_edit", {"id":adresse.id}) }}"> Mettre à jour </a>
                                        <a class='btn btn-danger' href="{{ path("adresse_compte_delete", {"id":adresse.id}) }}"> Supprimer </a>
                                    </div>
                                </div>
                        
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-center"> Vous n'avez pas encore ajouté d'adresse dans votre compte client. Pour en ajouter une, veuillez <a href="#"> Cliquer ici </a>  </p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
