{% extends 'base.html.twig' %}

{% block title %}
	Nargui Five 93  - Mes Adresses
{% endblock %}

{% block body %}

<div class="mon-compte">
    <div class="container">

        <h1> Ajouter une adresse de livraison </h1>
        <a class="btn btn-info" href="{{ path("adresse_compte") }}"> Mon compte </a>
		<hr>

        <div class="row">
            <div class="col-md-4 compte-lien">
				{% include('partials/_sidebarAccount.html.twig') %}
            </div>
        
            <div class="col-md-8">
                {{  form_start(form, {'method': 'POST'})  }}

				<div class="row">

					<div class="my-custom-class-for-errors">
						{{ form_errors(form) }}
					</div>

					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.nom) }}
						</div>
					</div>

					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.lastname) }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.prenom) }}
						</div>
					</div>

					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.phone) }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.societe) }}
						</div>
					</div>

					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.adresse) }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.ville) }}
						</div>
					</div>

					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.postal) }}
						</div>
					</div>

					<div class="col-md-6">
						<div class="col">
							{{ form_row(form.pays) }}
						</div>
					</div>
					
					<div class="col-md-6">
						<button class="btn btn-info custom-btn pull-right" type="submit"> Ajouter une adresse </button>
					</div>
					{{ form_rest(form) }}
				</div>
				{{ form_end(form) }}
            </div>
        </div>

    </div>
</div>

{% endblock %}