{% extends 'base.html.twig' %}

{% block title %} Modifier mon compte - Nargui Five 93 {% endblock %}

{% block body %}

<div class="mon-compte">
    <div class="container">
        <h1> Mon compte </h1>
        
        <div class="row">
            <div class="col-md-4 compte-lien">
               {% include('partials/_sidebarAccount.html.twig') %}
            </div>
        
            <div class="col-md-8">
                <p>
                    Bonjour {{ app.user.nom }} (vous n’êtes pas {{ app.user.nom }} ? <a  class="lien_compte" href="{{ path('app_logout') }}">  Déconnexion </a> ) <br/> <br/>
                    À partir du tableau de bord de votre compte, vous pouvez visualiser <a  class="lien_compte" href="{{ path('account_order') }}"> vos commandes </a> récentes, 
                    <a  class="lien_compte" href="{{ path('adresse_compte') }}"> gérer vos adresses de livraison et de facturation  </a> ainsi que <a class="lien_compte" href="{{ path('account_password') }}"> changer votre mot de passe </a> et les détails de votre compte.
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
