{% extends 'base.html.twig' %}

{% block title %} Nargui Five 93  - Mes Commandes {% endblock %}

{% block body %}

<div class="mon-compte">
    <div class="container">
        <h1> Mes Commandes </h1>
        <p> C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes. </p>
        <hr>
        
        <div class="row">
            <div class="col-md-4 compte-lien">
                {% include('partials/_sidebarAccount.html.twig') %}
            </div>
        
            <div class="col-md-8">
                {% if orders|length > 0 %}
                    <table class="table table-hover mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Réfèrence</th>
                                <th scope="col">Passé le</th>
                                <th scope="col">Total</th>
                                <th scope="col">Statut de la commande</th>
                                <th scope="col"> Facture </th>
                                <th class="text-right">Commande</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td> <span class="badge badge-secondary">{{ order.reference }}</span> </td>
                                    <td>{{ order.createdAt|date('d/m/Y') }}</td>
                                    <td>{{ (( (order.getTotal * 100) + order.transporteurPrix) /100)|number_format(2, ',',',') }} €</td>
                                    <td> {{ order.getStatutToString }}</td>
                                    <td> Lien pdf</td>
                                    <td class="text-right"> <a href="{{ path('account_order_show',{'reference' : order.reference}) }}" > Voir ma commande </a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <hr>
                    <p class="text-center"> Vous n'avez pas encore passé de commande chez NarguiFive. </p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
