{% extends 'base.html.twig' %}

{% block title %} Nargui Five 93  - Mes Commandes {% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> Ma Commande - <small> {{ order.reference }} </small> </h1>
    <p> <a href="{{ path('account_order') }}"> Retour </a> </p>
    <hr>

    <strong> Statut de la commande :</strong>  {{ order.getStatutToString }}  <br>
    <strong> Commande passé le :</strong> {{ order.createdAt|date('d/m/Y') }}  <br>
    <strong> Réfèrence de ma commande :</strong> <small> {{ order.reference }} </small>  <br>
    <strong> Transporteur choisi :</strong> {{ order.transpoteurNom }} <br>
    <hr>

    <strong> Détails de la commande </strong>
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Statut de la commande</th>
                <th scope="col"  class="text-right">Total</th>
            </tr>
        </thead>
      
        <tbody>
            {% for item in order.orderDetails %}
                <tr>
                    <td> {{ item.product }} </td>
                    <td> x{{ item.qantity }}</td>
                    <td>{{ item.price|number_format(2, ',',',') }} € </td>
                    <td> {{ order.getStatutToString }}  </td>
                    <td  class="text-right">{{ item.total|number_format(2, ',',',') }} € </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <div class="text-right">
        <strong> Sous-total :</strong> {{ (order.getTotal)|number_format(2, ',',',') }} €<br>
        <strong> Livraison :</strong> {{ (order.transporteurPrix/100)|number_format(2, ',',',') }} € <br>
        <strong> Total :</strong> {{ (( (order.getTotal * 100) + order.transporteurPrix) /100)|number_format(2, ',',',') }} €
    </div>
</div>

{% endblock %}
