{% extends 'base.html.twig' %}

{% block title %}
	Nargui Five 93 - Accueil
{% endblock %}

{% block carousel %}{%  endblock %}

{% block body %}
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="container">
			<h1> Nargui Five luxe </h1>
            <hr/>
			<p>
				Nargui Five est la référence dans la vente de chicha de luxe, retrouvez les 
                marques les plus prestigieuses comme les chichas en verre de laboratoire 
                de la marque américaine FUMO, les chichas en bois précieux WOOKAH, 
                pleins d'exclusivités et toutes les nouveautés du monde de la chicha.
			</p>

            <h3>
                Matériel pour une bonne chicha
            </h3>

            <p>
                Choisir votre chicha chez Nargui Five c'est l'assurance d'une multitude de choix. <br/>
                Du modèle le plus basique au plus perfectionné, de la shisha traditionnelle à la plus tendance, <br/>
                Royaume Smoke vous offre un large panel de shishas. Attentifs à vos besoins, et vos envies, des nouveautés<br/>
                font leurs apparitions régulièrement sur notre site.
			</p>

            <h3>
               La particularité de notre boutique de Chicha
            </h3>
             <p>
               Pour l'amélioration et le customs de vos chichas, notre équipe est à votre disposition pour vous donner<br/>
               les conseils les plus avisés.
               N'hésitez pas à nous contacter pour plus d'information
			</p>
            <hr />
		</div>

        <div class="container mt-3 mb-3">
            <h3> Nos chichas de luxe </h3> <hr/>
        </div>

		<div class="col-lg-4">
			<image width="200" height="200" src="{{ asset('assets/images/chicha-verre/Chicha-Oduman-N10-X.jpg') }}"/>
			<h2>
				Chicha Oduman N10 X
			</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id</p>
			<p>
				<a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">
					99,90 €
					<small>
						En stock
					</small>
				</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<image width="200" height="200" src="{{ asset('assets/images/chicha-luxe/STEAMULATION-PRIME.jpg') }}"/>
			<h2>STEAMULATION PRIME
			</h2>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
			<p>
				<a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">
					279,00 €
					<small>
						En stock
					</small>
				</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<image width="200" height="200" src="{{ asset('assets/images/chicha-luxe/CHICHA-ORDEN.jpg') }}"/>
			<h2>
				CHICHA ORDEN TESLA
			</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
			<p>
				<a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">
					199,00 €
					<small>
						En stock
					</small>
				</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
        <div class="col-lg-4">
			<image width="200" height="200" src="{{ asset('assets/images/chicha-verre/Chicha-Oduman-N10-X.jpg') }}"/>
			<h2>
				Chicha Oduman N10 Smoke X
			</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id</p>
			<p>
				<a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">
					99,90 €
					<small>
						En stock
					</small>
				</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<image width="200" height="200" src="{{ asset('assets/images/chicha-verre/Oduman-N9.jpg') }}"/>
			<h2>Oduman N9 Spider Tarentula
			</h2>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
			<p>
				<a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">
					99,00 €
					<small>
						En stock
					</small>
				</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<image width="200" height="200" src="{{ asset('assets/images/chicha-verre/Chicha-Oduman-N5.jpg') }}"/>
			<h2>
				Chicha Oduman N5 spoopy
			</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
			<p>
				<a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">
					179,00 €
					<small>
						En stock
					</small>
				</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->

	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				Besoin d'une chicha pour un évènement
			</h2>
			<p class="lead">
				Choisir votre chicha chez Nargui Five c'est l'assurance d'une multitude de choix. 
				                Du modèle le plus basique au plus perfectionné, de la shisha traditionnelle à la plus tendance, 
				                Royaume Smoke vous offre un large panel de shishas. 
				                Attentifs à vos besoins, et vos envies, des nouveautés font leurs apparitions régulièrement sur notre site.
			</p>
			<p>
				<a class="btn btn-lg btn-block btn-primary" href="#" role="button">
					Contactez-nous
				</a>
			</p>
		</div>
		<div class="col-md-5">
			<image width="450" height="450" src="{{ asset('assets/images/chicha-luxe/soiree2.jpg') }}"/>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">
				Envie d'un pack chicha
			</h2>
			<p class="lead">
				Choisir votre chicha chez Nargui Five c'est l'assurance d'une multitude de choix. 
				                Du modèle le plus basique au plus perfectionné, de la shisha traditionnelle à la plus tendance, 
				                Royaume Smoke vous offre un large panel de shishas. 
				                Attentifs à vos besoins, et vos envies, des nouveautés font leurs apparitions régulièrement sur notre site.
			</p>
			<p>
				<a class="btn btn-lg btn-block btn-primary" href="#" role="button">
					Commander un pack
				</a>
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<image width="450" height="450" src="{{ asset('assets/images/chicha-luxe/pack-kaya-damper.jpg') }}"/>
		</div>
	</div>

	<hr class="featurette-divider">

	<hr
	class="featurette-divider">

<!-- /END THE FEATURETTES -->
{% endblock %}
