{% extends 'base.html.twig' %}
{% import "macro/form_row.html.twig" as macro %}

{% block title %}
	Nargui Five 93 - Nous contacter
{% endblock %}

{% block body %}
	
	{# message d'erreur #}
	{{ include('partials/alert.html.twig') }}

	<div class="container">
		<div class="row my-5">
			<div class="col-8">
				<h2> Nous contacter </h2>
				<hr>
				<p>
					N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.
				</p>
				{{ form_start(form) }}
					{{ macro.app_form_row(form.nom, 'Nom' | trans | capitalize, {}, { 'attr': {'class': 'form-control'} }) }}
					{{ macro.app_form_row(form.prenom, "Prénom" | trans | capitalize, {}, { 'attr': {'class': 'form-control'}}) }}
					{{ macro.app_form_row(form.sujet, 'Sujet' | trans | capitalize, {}, { 'attr': {'class': 'form-control'}}) }}
					{{ macro.app_form_row(form.email, 'Email' | trans | capitalize, {}, { 'attr': {'class': 'form-control'}}) }}
					{{ macro.app_form_row(form.content, 'Mesgage' | trans | capitalize, {}, { 'attr': {'class': 'form-control'}}) }}

					<div class="row my-4">
						<div>  <button class="btn btn-primary btn-md pull-right" type="submit"> ENVOYER </button> </div>
					</div>
					
				{{ form_end(form) }}
			</div>

			<div class="col-4">
				<h2> Comment nous joindre ? </h2>
				<hr>
				<p>
					<strong> 06.63.36.25.39 </strong><br/>
					<span> NarguiFive, 135 rue de Gabriel Péri </span><br/>
					93200 Saint Denis <br/>
					<a  href="https://www.narguifive.com" target="_blank">narguifive.com</a><br/>
				</p>
			</div>

		</div> {# row #}
	</div> {# container #}
{% endblock %}
