<header class="blog-header">
	<div class="row flex-nowrap justify-content-between align-items-center">
		<div class="blog-header-logo">
			<a class="text-dark lien_logo" href="{{ path('home') }}">
				<img src="{{ asset('assets/images/icones/logo_2.png') }}" alt="Nargui Five 93">
			</a>
		</div>
	</div>

	<div id="info">
		
		
		<div class="icone_menu" id="panier">
			<div class="icon-top">
				<a href="#" title="Contactez-nous">
					<i class="bi bi-cart"></i>
					<span class="labelTop">Panier</span>
				</a>
			</div>
		</div>
		

		<div class="icone_menu" id="user">
			<div class="icon-top">
				<a href="#" title="Mon compte">
					<i class="bi bi-person"></i>
					<span class="labelTop">Mon compte</span>
				</a>
			</div>
		</div>

		<div class="icone_menu" id="contact">
			<div class="icon-top">
				<a href="#" title="Contactez-nous">
					<i class="bi bi-envelope-open"></i>
					<span class="labelTop">Contactez-nous</span>
				</a>
			</div>
		</div>
		
	</div>
	<nav class="navbar navbar-expand-md">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link new" href="{{ path("products") }}">Nouveautés
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pack" href="#">Pack</a>
				</li>
				<li class="nav-item">
					<a class="nav-link soldes" href="#">Soldes</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chichas</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="{{ path("products") }}">Nos chichas</a>
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Goûts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"> Charbons </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"> Foyers </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"> Tuyaux </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"> Accessoires </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"> C.Electronique/ E-liquide </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"> CBD </a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Contact </a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						<a class="dropdown-item" href="#"> Location </a>
						<a class="dropdown-item" href="#"> Comment choisir une chicha ? </a>
						<a class="dropdown-item" href="#"> Qui sommes nous ? </a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Compte </a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
						{% if not app.user %}
							<a class="dropdown-item" href="{{ path('app_login') }}">
								Connexion
							</a>
							<a class="dropdown-item" href="{{ path('register') }}">Inscription</a>
						{% else %}
							<a class="dropdown-item" href="{{ path('account') }}">
								Mon compte
								<small>
									{{ app.user.nom }}
								</small>
							</a>
							<a class="dropdown-item" href="{{ path('app_logout') }}">
								Déconnexion
							</a>
						{% endif %}
					</div>
				</li>
			</ul>
		</div>
	</nav>

</header>
