{% extends 'base.html.twig' %}

{% block title %}
	Nargui Five 93 -
	{{categorie.nom}}

{% endblock %}

{% block stylesheets %}
	{# <link href="{{ asset('assets/css/style-custome.css') }}" rel="stylesheet"> #}
	<link href="{{ asset('assets/css/category.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/produit-style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="columns-container">
		<div id="columns" class="container">
			<div class="row">
			
				{# sidebar left #}
					<div id="left_column" class=" col-xs-12 col-sm-3">
						
						{# Liste des sous catégories #}
						<div id="categories_block_left" class="block">
							<div class="title_block active">
								Sous-catégories
							</div>
							<div class="block_content">
								<ul class="tree dhtml">
									{% for sousCat in sousCats %}
										<li>
											<a href="{{ path('products_by_sous_categorie',{slugCategory:categorie.slug, slug:sousCat.slug}) }}" title="">
												{{ sousCat.nom}}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div id="layered_block_left" class="block">
							<div class="block_content">
								<form id="layered_form">
									<div>
										{# FIltre activé #}
										<div id="enabled_filters">
											<span class="layered_subtitle" style="float: none;">
												Filtres actifs :
											</span>
											<ul id="filtre_actif"></ul>
										</div>

										{# FIltre disponibilité #}
										<div class="layered_filter">
											<div class="layered_subtitle_heading">
												<span class="layered_subtitle">Disponibilité</span>
											</div>
											<ul id="ul_layered_quantity_0" class="col-lg-12 layered_filter_ul">
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_quantity[]" id="layered_quantity_1" value="1"/>
													<label for="layered_quantity_1">
														<a href="#"> Retrait à la boutique </a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_quantity[]" id="layered_quantity_0" value="0"/>
													<label for="layered_quantity_0">
														<a href="#"> En cours de réapprovisionnement <span id="quantity_0"> ({{nbre_dispo[0]}})</span> </a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_quantity[]" id="layered_quantity_2" value="2"/>
													<label for="layered_quantity_2">
														<a href="#"> En Stock <span id="quantity_1"> ({{nbre_dispo[1]}}) </span> </a>
													</label>
												</li>
											</ul>
										</div>

										{# Liste des fabricants #}
										<div class="layered_filter">
											<div class="layered_subtitle_heading">
												<span class="layered_subtitle">Fabricants</span>
											</div>

											<ul id="ul_layered_manufacturer_0" class="col-lg-12 layered_filter_ul">
												{% set queryParams = app.request.query.all %}

												{% for fabricant in fabricants %}
													{% if queryParams is not empty and queryParams.layered_manufacturer is defined %}
														{% set checked = (fabricant.id in queryParams.layered_manufacturer)? "checked" : "" %}
													{% else %}
														{% set checked = "" %}
													{% endif %}
													<li class="nomargin hiddable col-lg-12">
														<input type="checkbox" class="checkbox" name="layered_manufacturer[]" id="layered_manufacturer_{{fabricant.id}}" value="{{fabricant.id}}" {{ checked }}/>
														<label for="layered_manufacturer_{{fabricant.id}}">
															<a href="#">{{ fabricant.nom}}<span>
																	({{ from_fabs[fabricant.nom]|length}})</span>
															</a>
														</label>
													</li>
												{% endfor %}
												<input type="hidden" name="page" value={{mypage}}>
											</ul>
										</div>

										{# FIltre prix #}
										<div class="layered_price" style="">
											<div class="layered_subtitle_heading">
												<span class="layered_subtitle"> Prix </span>
											</div>
											<ul id="ul_layered_price_0" class="col-lg-12 layered_filter_ul">
												<div class="layered_slider_container">
													<div class="layered_slider" id="layered_price_slider" data-type="price" data-format="2" data-unit="€"></div>
												</div>
												<span id="layered_price_range"></span>
											</ul>
										</div>
									</div>
									<input type="hidden" name="token" value="{{ csrf_token('fabricant') }}"/>
								</form>
							</div>

							<div id="layered_ajax_loader" style="display: none;">
								<p>
									<img src="{{ asset('assets/images/icones/loader.gif') }}" alt=""/>
									<br/>
									Chargement...
								</p>
							</div>
						</div>
					</div>
				{# Fin sidebar left #}

				{# center #}
					<div id="center_column" class="center_column col-xs-12 col-sm-9">
						<div class="content_scene_cat">
							<div class="content_scene_cat_bg" style="background-image: url({{ asset('/assets/images/categories/'~ categorie.image) }}); min-height:520px;">
								<div class="cat_desc">
									<div class="rte">
										<h1> {{ categorie.nom|upper}} </h1>
										<p>  {{ categorie.content|raw }} </p>
									</div>
								</div>
							</div>
						</div>

						<div class="pull-right">
							<span class="heading-counter" id="total"> Il y a {{ total }} produits.</span>
						</div>

						{# Filtre  #}
						<div class="content_sortPagiBar clearfix">
							<div class="sortPagiBar clearfix">
								<form id="productsSortForm" action="https://www.royaume-smoke.com/97-chicha" class="productsSortForm pull-right">
									<div class="select selector1">
										<label for="selectProductSort">Tri</label>
										<select id="selectProductSort" class="selectProductSort form-control" onchange="tri(this)">
											<option value="quantity:desc">--</option>
											<option value="price:asc">Le moins cher</option>
											<option value="price:desc">Le plus cher</option>
											<option value="name:asc">De A &agrave; Z</option>
											<option value="name:desc">De Z &agrave; A</option>
											<option value="quantity:desc" selected="selected">En Stock</option>
											<option value="reference:asc">R&eacute;f&eacute;rence : croissante</option>
											<option value="reference:desc">R&eacute;f&eacute;rence : d&eacute;croissante
											</option>
										</select>
									</div>
								</form>
							</div>
						</div>

						<!-- Products list -->
						{% include "product/liste_produits.html.twig" with {'produits':produits} %}
					</div>
				{# FIn center #}
				
			</div>
		</div>
	</div>
</div></div></div>{% endblock %}
