<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="{{ path('home') }}">Nargui Five 93</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" href="#">
					Nouveautés
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">
					Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Chichas
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">
						Chichas Classique
					</a>
					<a class="dropdown-item" href="#">
						Chichas en verre
					</a>
					<a class="dropdown-item" href="#">
						Chichas de luxe
					</a>
					<a class="dropdown-item" href="#">
						Chichas portable
					</a>
					<a class="dropdown-item" href="#">
						Chichas traditionnelles
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">
						Chichas Premier prix
					</a>
				</div>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					Charbons
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					Goût chicha
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Accessoires
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">
						Foyers (têtes de chicha)
					</a>
					<a class="dropdown-item" href="#">
						Tuyaux
					</a>
				</div>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					Packs
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					C.Electronique/ E-liquide
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					CBD
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					Promotions
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Services
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">
						Location
					</a>
					<a class="dropdown-item" href="#">
						Comment choisir une chicha ?
					</a>
					<a class="dropdown-item" href="#">
						Qui sommes nous ?
					</a>
				</div>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">
					Contact
				</a>
			</li>
		</ul>

		<div class="navbar-item-custom">
			<a href="{{ path('app_login') }}">
				Espace PRO
			</a>
			|
			{% if not app.user %}
				<a href="{{ path('app_login') }}">
					|
															Connexion
				</a>
				<a href="{{ path('register') }}">S'inscrire</a>
			{% else %}
				<a href="{{ path('account') }}">
					Mon compte
					<small>
						{{ app.user.nom }}
					</small>
				</a>
				|
				<a href="{{ path('app_logout') }}">
					Déconnexion
				</a>
			{% endif %}
		</div>
	</div>
</nav>

<div>
    Un large choix de chichas modernes pour tous les budgets
Achetez votre chicha dans notre boutique de chichas classiques. Vous trouverez ici une large gamme de chichas dites fonctionnelles. Produites en série contrairement aux chichas traditionnelles, les chichas classiques se distinguent par leur modernité, leur facilité d’utilisation et leur prix abordable. Elles sont destinées aussi bien aux novices désireux de découvrir le monde de la chicha qu’aux chicheurs aguerris à la recherche du narguilé au meilleur rapport qualité-prix ! Les plus grandes marques vous sont présentés ici : Amy Deluxe, Tsar, Mya, Unity, Aladin, Kaya et bien d’autres. Découvrez sans plus attendre, notre best seller, la chicha Tsar Molotov, toute équipée, tendance avec un prix défiant toute concurrence ! Et pensez à vous aider de nos conseils sur la chicha pour faire votre choix.
Achetez votre chicha au meilleur rapport qualité prix
Notre boutique en ligne propose une gamme de chicha pour tous les goûts et tous les portefeuilles! Que vous cherchiez une petite chicha, une grande chicha ou encore une chicha rose, vous trouverez forcément votre bonheur! De la chicha pas chère idéale pour débuter à la chicha de luxe made in germany, c'est ici que vous trouverez votre narguilé!
</div>
