<!-- Products list -->
<div id="products_filter">

	<div class="row">
		{% for produit in produits %}
			<div class="card col-md-4 mb-3">
				<a class="product_image" href="{{ path('product_show', { slug: produit.slug }) }}" title="{{ produit.nom }}">
					{% if "https" in produit.image  %}
						<img class="img-responsive img1" src="{{ produit.image }}" alt="{{ produit.nom }}"/>
					{% else %}
						<img class="img-responsive img1" src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="{{ produit.nom }}"/>
					{% endif %}
				</a>

				<div class="card-body">
					<h5 class="card-title"> <a href="{{ path('product_show', { slug: produit.slug }) }}"> {{ produit.nom }} </a> </h5>

					<div class="content_price">
						<span class="price product-price" itemprop="price"> {{ (produit.price) | number_format(2, ',', '.') }} € </span>
						<meta itemprop="priceCurrency" content="EUR"/> <br/>
						{% if produit.quantite > 0 %}
						<span class="label label-success">
							<i class="fa-solid fa-circle-check"></i> En stock
						</span>
						{% else  %}
							<span class="label label-error">
								<i class="fa-solid fa-xmark"></i> Rupture de stock
							</span>
						{% endif  %}
					</div>

					<button class="btn btn-success mb-2 add_product" data-id-product="{{produit.id}}" title="Ajouter au panier">
						<i class="mdi mdi-cart"></i> <span> Ajouter au panier </span>
					</button>
					<a href="{{ path('cart_add', { id: produit.id }) }}"  class="btn btn-primary my-2"  title="{{ produit.nom }}">  Ajouter au panier  </a>
					<a href="{{ path('product_show', { slug: produit.slug }) }}"  class="btn btn-info"  title="{{ produit.nom }}"> Détails </a>
				</div>
			</div>
		{% endfor %}
	</div>

	{% set queryParams = app.request.query.all %}
	{% set queryString = queryParams|filter((v,k) => k != 'page' and k !='ajax')|url_encode %}

	<div class="content_sortPagiBar">
		<div class="bottom-pagination-content clearfix">

			{# <form class="showall" action="#" method="get">
				<div>
					<button type="submit" class="btn btn-default button exclusive-medium">
						<span>Afficher tout</span>
					</button>
					<input type="hidden" name="id_category" value="97"/>
					<input name="n" id="nb_item" class="hidden" value="323"/>
				</div>
			</form> #}

			{# display navigation #}
				<div class="row">
					{# <div class="col-sm-1 d-flex justify-content-start mb-3">

					</div> #}
					<div class="d-flex justify-content-center">
{#						{{ knp_pagination_render(produits, 'partials/_pagination.html.twig') }}#}
						<a href="#">
							<span class="badge rounded-pill bg-primary p-2">
								<i class="bi bi-chevron-double-up"></i>
							</span>
						</a>
					</div>
				</div>
			{# end display navigation #}
			<br>

		</div>
	</div>

</div>


