{% extends 'base.html.twig' %}

{% block title %}
	Nargui Five 93 - {{sousCatActuel}}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/style-custome.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<!-- Three columns of text below the carousel -->
    <div class="columns-container">
        <div id="column" class="container">
            <div class="row">
                <div class="lab_breadcrumb">
                    <div class="container">
                        <!-- Breadcrumb -->
                        <div class="breadcrumb clearfix">
                            <div class="breadcrumb-i">
                                <a class="home" href="#" title="retour &agrave; Accueil"><i class="icons-home"></i>Accueil</a>
                                <span class="navigation-pipe">&gt;</span>
                                Chicha
                                <span class="navigation-pipe">&gt;</span>
                                {{sousCatActuel}}
                            </div>
                        </div>
                        <!-- /Breadcrumb -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns-container">
        <div id="columns" class="container">

            <div class="row">
                <div id="left_column" class=" col-xs-12 col-sm-3">
                    <!-- Block categories module -->
                    <div id="categories_block_left" class="block">
                        <div class="title_block h2 active">
                            <!-- Chicha -->
                            Sous-catégories
                        </div>
                        <div class="block_content">
                            <ul class="tree dhtml">

                            {% for sousCat in sousCats %}
                            <li>
                                    <a href="{{ path('products_subcategory_show',{slug: sousCat.slug})}}" title="">
                                        {{ sousCat.nom}}
                                    </a>
                                </li>
                                
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Block categories module -->

                    

                    <style>
                        * {
                            -webkit-font-smoothing: antialiased;
                        }

                        /*# WIDGET LATERAL*/
                        #steavisgarantis {
                            display: block;
                            width: 100%;
                            max-width: 100%;
                            line-height: 0;
                            text-align: center;
                            padding-bottom: 18px
                        }

                        #steavisgarantis {
                            display: inline-block;
                            margin: 15px 0px;
                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+7,fefefe+28,f3f3f3+52 */
                            background: #ffffff;
                            /* Old browsers */
                            -moz-box-shadow: inset 0px 0px 0px 1px #f2f2f2;
                            box-shadow: inset 0px 0px 0px 1px #f2f2f2;
                        }

                        .agWidget {
                            color: #111111;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400
                        }

                        .rad {
                            -moz-border-radius: 8px;
                            -webkit-border-radius: 8px;
                            border-radius: 8px;
                        }

                        /*boutons*/
                        .agBt {
                            display: inline-block;
                            background: #1c5399;
                            border: 1px solid #1c5399;
                            color: #ffffff !important;
                            font-size: 10px;
                            line-height: 10px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            text-align: center;
                            padding: 4px 10px;
                            width: auto;
                            text-decoration: none !important;
                        }

                        .agBt:hover {
                            background: none;
                            color: #1c5399 !important;
                            text-decoration: none !important;
                        }

                        .de .agBt:hover {
                            background: none;
                            color: #333333 !important;
                            text-decoration: none !important;
                        }

                        .de .agBt {
                            background: #333333;
                            border: 1px solid #333333;
                        }

                        .it .agBt:hover {
                            background: none;
                            color: #067a45 !important;
                            text-decoration: none !important;
                        }

                        .it .agBt {
                            background: #067a45;
                            border: 1px solid #067a45;
                        }

                        .es .agBt:hover {
                            background: none;
                            color: #021F3C !important;
                            text-decoration: none !important;
                        }

                        .es .agBt {
                            background: #021F3C;
                            border: 1px solid #021F3C;
                        }

                        .agBtBig {
                            font-size: 11px;
                            line-height: 11px;
                            padding: 5px 14px;
                        }

                        .rad {
                            -moz-border-radius: 8px;
                            -webkit-border-radius: 8px;
                            border-radius: 8px;
                        }

                        .rad4 {
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            border-radius: 4px;
                        }

                        /*background*/
                        .bgGrey1 {
                            background: #f9f9f9
                        }

                        .bgGrey2 {
                            background: #f3f3f3
                        }

                        /*transition*/
                        .agBt {
                            -webkit-transition: background 0.4s ease;
                            -moz-transition: background 0.4s ease;
                            -ms-transition: background 0.4s ease;
                            -o-transition: background 0.4s ease;
                            transition: background 0.4s ease;
                        }
                    </style>
                </div>

                <div id="center_column" class="center_column col-xs-12 col-sm-9">

                    <div class="page-heading product-listing"><span class="cat-name">{{ sousCatActuel}}&nbsp;</span></div>
                    <div class="pull-right"><span class="heading-counter">Il y a {{total }} produits.</span>
                    </div>

                    <div class="content_sortPagiBar clearfix">
                        <div class="sortPagiBar clearfix">
                            <ul class="display hidden-xs pull-left">
                                <li id="grid"><a rel="nofollow" href="javascript:void(0)" title="Grille"><i
                                            class="icons-grid"></i></a></li>
                                <li id="list"><a rel="nofollow" href="javascript:void(0)" title="Liste"><i
                                            class="icon icon-align-justify"></i></a></li>
                            </ul>

                            <!-- /Trier -->
                           <form id="productsSortForm" action="#" class="productsSortForm pull-right">
								<div class="select selector1">
									<label for="selectProductSort">Tri</label>
									<select id="selectProductSort" class="selectProductSort form-control" onchange="tri2(this)">
										<option value="quantity:desc">--</option>
										<option value="price:asc">Le moins cher</option>
										<option value="price:desc">Le plus cher</option>
										<option value="name:asc">De A &agrave; Z</option>
										<option value="name:desc">De Z &agrave; A</option>
										<option value="quantity:desc" selected="selected">En Stock</option>
										<option value="reference:asc">R&eacute;f&eacute;rence : croissante</option>
										<option value="reference:desc">R&eacute;f&eacute;rence : d&eacute;croissante
										</option>
									</select>
								</div>
							</form>
                        </div>
                    </div>


                    <!-- Products list -->
                   {% include "product/product2.html.twig" %}
                        

                        
                   

                    <!--div class="content_sortPagiBar">
                        <div class="bottom-pagination-content clearfix">

                            <div id="pagination_bottom" class="pagination clearfix">
                                <form class="showall" action="#" method="get">
                                    <div>
                                        <button type="submit" class="btn btn-default button exclusive-medium">
                                            <span>Afficher tout</span>
                                        </button>
                                        <input type="hidden" name="id_category" value="97" />
                                        <input name="n" id="nb_item" class="hidden" value="323" />
                                    </div>
                                </form>
                                <ul class="pagination">
                                    <li id="pagination_previous_bottom" class="disabled pagination_previous">
                                        <span>
                                            <i class="icon-chevron-left"></i> <b>Pr&eacute;c&eacute;dent</b>
                                        </span>
                                    </li>
                                    <li class="active current">
                                        <span>
                                            <span>1</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="/97-chicha?p=2">
                                            <span>2</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/97-chicha?p=3">
                                            <span>3</span>
                                        </a>
                                    </li>
                                    <li class="truncate">
                                        <span>
                                            <span>...</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="/97-chicha?p=11">
                                            <span>11</span>
                                        </a>
                                    </li>
                                    <li id="pagination_next_bottom" class="pagination_next">
                                        <a href="/97-chicha?p=2" rel="next">
                                            <b>Suivant</b> <i class="icon-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-count">
                                R&eacute;sultats 1 - 30 sur 323.
                            </div>

                        </div>
                    </div-->
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
