<header>
	<div class="row flex-nowrap justify-content-between align-items-center">
		<div class="blog-header-logo">
			<a class="text-dark lien_logo" href="{{ path('home') }}">
				<img src="{{ asset('assets/images/icones/logo_2.png') }}" alt="Nargui Five 93">
			</a>
		</div>
	</div>

	<div id="info">
		<div class="icone_menu" id="panier">
			<div class="icon-top">
				<a href="#"  class="nav-link" title="Panier">
					<i class="bi bi-cart"></i>
					<span class="panier" id="panier_number"></span>
					<span class="labelTop">Panier</span>
				</a>
			</div>
		</div>

		<div class="icone_menu" id="user">
			<div class="icon-top">
				<div class="dropdown">
					<a class="nav-link dropdown-toggle" title="Mon compte" id="dropdown000" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="bi bi-person"></i>
						<span class="labelTop">Mon compte</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdown000">
						{% if not app.user %}
							<a class="dropdown-item" href="{{ path('app_login') }}"> Connexion </a>
							<a class="dropdown-item" href="{{ path('register') }}">  Inscription </a>
						{% else %}
							<a class="dropdown-item" href="{{ path('account') }}">
								Mon compte
								<small>
									{{ app.user.nom }}
								</small>
							</a>
							<a class="dropdown-item" href="{{ path('app_logout') }}"> Déconnexion </a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="icone_menu" id="contact">
			<div class="icon-top">
				<a href="#" class="nav-link" title="Contactez-nous">
					<i class="bi bi-envelope-open"></i>
					<span class="labelTop">Contact</span>
				</a>
			</div>
		</div>
	</div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navbar_toptop">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mb-2 mb-md-0">
                    {% for category in categories %}
                        {% if category.sousCategory is not empty %} {# chicha #}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="{{ category.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ category.nom }}</a>
                                <div class="dropdown-menu" aria-labelledby="{{ category.id }}"> 
									<a class="dropdown-item" href="{{ path('products_by_categorie',{slug:category.slug} )}}">{{ category.nom }}</a>
                                    {% for cat in category.sousCategory %}
										<a class="dropdown-item" href="{{ path('products_by_sous_categorie',{ slugCategory:category.slug, slug:cat.slug } )}}">
											{{ cat.nom }}
										</a>
                                    {% endfor %}
                                </div>
                            </li> 
                        {% else %}
                            <li class="nav-item"> 
								<a class="nav-link" href="{{ path('products_by_categorie',{slug:category.slug} )}}">{{ category.nom }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>