<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">

		<title>
			{% block title %}
				Nargui Five 93 - Made in France
			{% endblock %}
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content=" Nargui Five La boutique qui vous vends des chichas / CBD .">
		<meta name="author" content="Banyingela Blanchard">
		<meta property="og:title" content="Nargui Five"/>
		<meta property="og:type" content="Site E-commerce"/>
		<meta property="og:url" content="https://narguifive.com"/>
		<meta property="og:image" content=""/>

		<link rel="icon" href="{{ asset('assets/images/icones/logo_2.png') }}"/>

		<!-- Bootstrap icone + fontawesome icone -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" >
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/> #}

		<script src="https://kit.fontawesome.com/3b962b3bc8.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{#		<!-- Custom styles for this template -->#}
		<link href="{{ asset('/assets/scss/app/carousel.css') }}" rel="stylesheet">

{#		<!-- Nargui CSS -->#}
		<link href="{{ asset('/assets/scss/app/style.css') }}" rel="stylesheet">

		{% block stylesheets %}
			 {{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascript_header %}
			 {{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{{ render( controller('App\\Controller\\MenuController::index' ) ) }}

		<main role="main">
			{# {% if block('carousel') is defined %} #}
				{% include "partials/_carousel.html.twig" %}
			{# {% endif %}  #}

			<div class="marketing  {% if block('carousel') is not defined %} {% endif%}">
				{# Breadcrumb #}
				{% include "partials/_breadcrumb.html.twig" %}
				{# Modal produit vide (body généré en ajax) #}
				<div class="cart_modal" id="cartModal"></div>
				{% include "modal/modal_livraison.html.twig" %}

				{% block body %}{% endblock %}
			</div>

			<!-- FOOTER -->
			{% include "partials/_footer.html.twig" %}
		</main>


		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{#		<!-- Bootstrap Js -->#}
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{#		#}{# Select 2 #}
			<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{#		#}{# End Select 2 #}

		 <script src="{{ asset('assets/js/app/bootstrap.bundle.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

{#		<script>#}
{#            #}{# (function () {#}
{#                if (!localStorage.getItem('cookieconsent')) {#}
{#                    $('#myModalVideo').modal('show');#}
{#                    document.querySelector('#close').onclick = function (e) {#}
{#                        e.preventDefault();#}
{#                        $('#myModalVideo').modal('hide');#}
{#                        localStorage.setItem('cookieconsent', true);#}
{#                    };#}
{#                }#}
{#            })(); #}
{#        </script>#}

		{% block script %}
		{% endblock %}
	</body>
</html>
