<!-- Products list -->
<div id="products_filter">

	<ul class="lablistproducts product_list grid row">
		{% for produit in produits %}
			<li class="ajax_block_product item-inner  col-xs-6 col-sm-6 col-md-4 first-in-line first-item-of-tablet-line first-item-of-mobile-line ">
				<div class="product-container item" itemscope itemtype="https://schema.org/Product">

					<div class="left-block">
						<div class="product-image-container">
							<a class="product_image" href="{{ path('product_show', {slug:produit.slug})}}" title="LOREM IPSUM DOLOR TITLE">
								<img class="img-responsive img1" src="{{produit.image}}" alt="{{produit.nom}}"/>
							</a>

							<div class="actions">
								<ul class="add-to-links">
									<li class="lab-Wishlist">
										<a onclick="WishlistCart('wishlist_block_list', 'add', '812', $('#idCombination').val(), 1,'tabproduct'); return false;" class="add-wishlist wishlist_button" href="{{ path('product_show', {slug: produit.slug}) }}" data-id-product="812" title="Ajouter &agrave; la liste de souhaits">
											<i class="mdi mdi-heart-outline"></i>
											<span>Ajouter &agrave; la liste de souhaits</span>
										</a>
									</li>
									<li class="lab-quick-view">
										<a class="" href="{{ path('product_show', {slug:produit.slug})}}" data-id-product="812" title="Aper&ccedil;u rapide">
											<i class="mdi mdi-eye"></i>
											<span>Aper&ccedil;u rapide</span>
										</a>
									</li>
								</ul>
							</div>

							<span class="availability">
								<span class=" label-success">
									Disponible
								</span>
							</span>
						</div>
					</div>

					<div class="right-block">
						<div class="product-name" itemprop="name">
							<a href="{{ path('product_show',{slug:produit.slug}) }}" title="LOREM IPSUM DOLOR TITLE" itemprop="url">
								{{produit.nom}}
							</a>
						</div>

						<p class="product-desc" itemprop="description">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit quam.
						</p>

						<div class="content_price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
							<span class="price product-price" itemprop="price"></span>
							<meta itemprop="priceCurrency" content="EUR"/>
						</div>

						<div class="color-list-container"></div>
						<div class="flags"></div>

						<div class="lab-cart">
							<a class="button  btn btn-default" href="{{ path('product_show', {slug: produit.slug}) }}" data-id-product="{{produit.id}}" title="Ajouter au panier">
								<span>Voir le produit</span>
							</a>
						</div>
					</div>

				</div>
				<!-- .product-container> -->
			</li>
		{% endfor %}
	</ul>

	{% set queryParams = app.request.query.all %}
	{% set queryString = queryParams|filter((v,k) => k != 'page' and k !='ajax')|url_encode %}
	{% set pages = (total / limit)|round(0,'ceil') %}
	
	<ul class="pagination text-center">
		<li id="pagination_previous_bottom" class="{{ ( mypage > 1) ? '' : 'disabled' }} pagination_previous">
			<a href="{{ ( mypage > 1) ? '?page=' ~ ( mypage - 1) : '' }}">
				<i class="icon-chevron-left"></i>
				<b>Pr&eacute;c&eacute;dent</b>
			</a>
		</li>

		{% for i in range( 1, pages ) %}
			{% if mypage == i %}
				<li class="active current">
					<span>
						<span>{{ i }}</span>
					</span>
				</li>
			{% else %}
				<li>
					<a href="?page={{i}}&{{queryString}}">
						<span>{{ i }}</span>
					</a>
				</li>
			{% endif %}
		{% endfor %}
		
		<li id="pagination_next_bottom" class="{{  (mypage == pages) ? 'disabled' : '' }} pagination_next">
			<a href="{{ ( mypage < total) ? '?page=' ~ ( mypage + 1) : '' }}">
				<b>Suivant</b> <i class="icon-chevron-right"></i>
			</a>
		</li> 
	</ul>

	<br>
</div>
	
