<!-- Products list -->
<div id="products_filter">

	{# start button new #}
		<div class="mb-2 mt-1">
			<a href="{{ path('admin_produit_edit') }}" class="btn btn-primary btn-lg">{{ 'Ajouter un nouveau produit' | trans | capitalize }}</a>
		</div>
	{# end button new #}

	{# startdisplay data #}
	<ul class="lablistproducts product_list grid row">
		{% for produit in produits %}
			<li class="ajax_block_product item-inner  col-xs-6 col-sm-6 col-md-4 first-in-line first-item-of-tablet-line first-item-of-mobile-line ">
				<div class="product-container item" itemscope itemtype="https://schema.org/Product">

					<div class="left-block">
						<div class="product-image-container">
							<a class="product_image" href="{{ path('product_show', {slug:produit.slug})}}" title="LOREM IPSUM DOLOR TITLE">
								<img class="img-responsive img1" src="{{produit.image}}" alt="{{produit.nom}}"/>
							</a>

							<div class="actions">
								<ul class="add-to-links">
									<li class="lab-Wishlist">
										<a onclick="WishlistCart('wishlist_block_list', 'add', '812', $('#idCombination').val(), 1,'tabproduct'); return false;" class="add-wishlist wishlist_button" href="{{ path('product_show', {slug: produit.slug}) }}" data-id-product="812" title="Ajouter &agrave; la liste de souhaits">
											<i class="mdi mdi-heart-outline"></i>
											<span>Ajouter &agrave; la liste de souhaits</span>
										</a>
									</li>
									<li class="lab-quick-view">
										<a class="" href="{{ path('product_show', {slug:produit.slug})}}" data-id-product="812" title="Aper&ccedil;u rapide">
											<i class="mdi mdi-eye"></i>
											<span>Aper&ccedil;u rapide</span>
										</a>
									</li>
								</ul>
							</div>

							<span class="availability">
								<span class=" label-success">
									Disponible
								</span>
							</span>
						</div>
					</div>

					<div class="right-block">
						<div class="product-name" itemprop="name">
							<a href="{{ path('product_show',{slug:produit.slug}) }}" title="LOREM IPSUM DOLOR TITLE" itemprop="url">
								{{produit.nom}}
							</a>
						</div>

						<p class="product-desc" itemprop="description">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit quam.
						</p>

						<div class="content_price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
							<span class="price product-price" itemprop="price"></span>
							<meta itemprop="priceCurrency" content="EUR"/>
						</div>

						<div class="color-list-container"></div>
						<div class="flags"></div>

						<div class="lab-cart">
							<a href="{{ path('product_show', {slug: produit.slug}) }}" data-id-product="{{produit.id}}" class="btn btn-primary btn-sm">
								<i class="bi bi-pencil"></i>
								<span> Modifier </span>
							</a>
							<a name="delete" data-href="#" class="btn btn-danger btn-sm">
								<i class="bi bi-trash"></i>
								<span> Supprimer </span>
							</a>
						</div>
					</div>

				</div>
				<!-- .product-container> -->
			</li>
		{% endfor %}
	</ul>
	{# end display data #}

	{% set queryParams = app.request.query.all %}
	{% set queryString = queryParams|filter((v,k) => k != 'page' and k !='ajax')|url_encode %}
	{% set pages = (total / limit)|round(0,'ceil') %}
	
	{# display navigation #}
	<div class="row">
		<div class="col-sm-1 d-flex justify-content-start mb-3">
			<a href="#">
				<span class="badge rounded-pill bg-primary p-2">
					<i class="bi bi-chevron-double-up"></i>
				</span>
			</a>
		</div>
		<div class="col-sm-11 navigation d-flex justify-content-center">
			{{ knp_pagination_render(produits) }}
		</div>
	</div>
	{# end display navigation #}
	<br>
</div>

<script>
	$(document).ready(function () {
		$('a[name=delete]').on('click', async function () {
			let url = $(this).attr('data-href');
			let confirm = await window.confirm('Êtes-vous sûr(e) de vouloir supprimer ce produit ?');
			if (! confirm) {
				return false;
			}

			$.get(url).done(function (response, textStatus, xhr) 
				{
					window.location.reload();
				}).fail(function () 
			{ // Fail
			});
		})
	});
</script>
	
